.wrapper {
  background-color: #d3d3d3;
  padding: 4px 30px;
  border-radius: 15px;
  justify-content: center;
  margin: 10px;
}

.image {
  height: 80px;
  border: 1px solid darkgray;
  border-radius: 50%;
  width: 80px;
}

.item {
  display: flex;
  gap: 24px;

  padding-bottom: 40px;
  border-bottom: 1px solid darkgray;
  margin: 40px 0;

  text-align: justify;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex-wrap: wrap;
}

.nameWrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
}

.name {
  color: rgb(104, 102, 102);
  font-size: 14px;
}

.comment {
  font-size: 12px;
}

.reviews {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  margin-top: 20px;
  color: wheat;
}


@media screen and (max-width: 767px) {
  .image {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    margin: 0 auto;
  }
}

