.title {
  color:#FF4500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.07em;
  font-size: 26px;
  background-color: #000000;
  top: 0;
  width: 100%;
  left: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 16px 32px;
}

@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

