.container {
    
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.title {
    color: #fff;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 12px; 
    margin-top: 55px;  
}

.input {
    width: 25vw;
    height: 30px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #FF4500;
    outline: #ff6868 ridge 1px;
    font-family: inherit;
    transition: border-color 250ms ease-in;
    margin-bottom: 10px;
}

