.nav {
    display: flex;
    padding: 10px;
    gap: 12px;
    background-color:#FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    
}

.link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}


.isActive {
    color: orangered;
}