.list {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  padding: 8px;
  border: 1px solid darkgray;
  border-radius: 3px;

  background-color: #f9f9f9;
}

.image {
  width: 260px;
  margin: 0 auto;
}

.text {
  text-align: center;
  font-size: 12px;
}

.cast {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}